body {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-weight: 700;
}

#map {
  width: 70vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}

#menu {
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 2;
  width: 30vw;
  position: absolute;
  background-color: #fff;
}

@media (max-width: 1000px) {
  #map {
    width: 55vw;
  }

  #menu {
    width: 45vw;
  }
}

@media (max-width: 600px) {
  #map {
    width: 100vw;
    height: 70vh;
    position: absolute;
  }

  #menu {
    width: 100vw;
    top: 70vh;
  }
}

.mapboxgl-popup, .mapboxgl-popup-tip, .mapboxgl-popup-content {
  pointer-events: none;
}

.link {
  cursor: pointer;
}

.small {
  font-size: 0.9rem;
}